In [13]:
import pandas as pd
import openpyxl

In [25]:
#Pulling the Excel File & Sheet
path = "STATS/all_stars_2018/test.xlsx"
stats_df = pd.read_excel(path, sheet_name="Lineups", engine="openpyxl")

/Users/jenniferdean/opt/anaconda3/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:300: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)
/Users/jenniferdean/opt/anaconda3/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:300: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [26]:
#Check that the data came through
stats_df.head()

,Gotham Girls Roller Derby / All-Stars,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Black,Unnamed: 8,Unnamed: 9,...,None.15,None.16,None.17,None.18,None.19,None.20,None.21,None.22,None.23,1.1
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Color,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GAME 1
1,Jam,noPivot,Jammer,Box,NaN,NaN,Pivot,Box,NaN,NaN,...,NaN,NaN,Blocker,Box,NaN,NaN,NaN,Team Roster,NaN,NaN
2,1,NaN,1706,NaN,NaN,NaN,23,NaN,NaN,NaN,...,NaN,NaN,9,NaN,NaN,NaN,0.0,NaN,77.0,Mad Dog Murph
3,2,NaN,010,NaN,NaN,NaN,1680,NaN,NaN,NaN,...,NaN,NaN,62,NaN,NaN,NaN,0.0,NaN,NaN,NaN
4,3,NaN,1706,NaN,NaN,NaN,23,NaN,NaN,NaN,...,NaN,NaN,912,NaN,NaN,NaN,0.0,NaN,111.0,Jamsterella

In [27]:
stats_df = stats_df.fillna(0)
stats_df = stats_df.drop([0], axis = "index")
stats_df = stats_df.reset_index()
stats_df.head()

,index,Gotham Girls Roller Derby / All-Stars,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Black,Unnamed: 8,...,None.15,None.16,None.17,None.18,None.19,None.20,None.21,None.22,None.23,1.1
0,1,Jam,noPivot,Jammer,Box,0,0.0,Pivot,Box,0.0,...,0.0,0.0,Blocker,Box,0.0,0.0,0.0,Team Roster,0.0,0
1,2,1,0,1706,0,0,0.0,23,0,0.0,...,0.0,0.0,9,0,0.0,0.0,0.0,0,77.0,Mad Dog Murph
2,3,2,0,010,0,0,0.0,1680,0,0.0,...,0.0,0.0,62,0,0.0,0.0,0.0,0,0.0,0
3,4,3,0,1706,0,0,0.0,23,0,0.0,...,0.0,0.0,912,0,0.0,0.0,0.0,0,111.0,Jamsterella
4,5,4,0,1978,0,0,0.0,23,$,0.0,...,0.0,0.0,912,0,0.0,0.0,0.0,0,0.0,0

In [28]:
stats_df = stats_df.rename(columns=stats_df.iloc[0]).drop(stats_df.index[0])
stats_df = stats_df.drop([1, "noPivot", "Box", 0.0, 0, "Team Roster"], axis = 1)
stats_df.head()

,Jam,Jammer,Pivot,Blocker,Blocker,Blocker,Jam,Jammer,Pivot,Blocker,Blocker,Blocker
1,1,1706,23,17,314,68,1,480,301,912,950,9
2,2,010,1680,41,4500,4,2,814,21,235,82,62
3,3,1706,23,17,314,68,3,6,301,9,950,912
4,4,1978,23,17,4,41,4,111,21,235,62,912
5,5,010,17,314,213,68,5,111,301,235,912,9

In [29]:
stats_df = stats_df.rename(columns={stats_df.columns[0]: "jam_number",
                                   stats_df.columns[1]: "home_jammer_number",
                                   stats_df.columns[2]: "home_pivot_number",
                                   stats_df.columns[3]: "home_blocker_1_number",
                                   stats_df.columns[4]: "home_blocker_2_number",
                                   stats_df.columns[5]: "home_blocker_3_number",
                                   stats_df.columns[6]: "redundant",
                                   stats_df.columns[7]: "away_jammer_number",
                                   stats_df.columns[2]: "away_pivot_number",
                                   stats_df.columns[3]: "away_blocker_1_number",
                                   stats_df.columns[4]: "away_blocker_2_number",
                                   stats_df.columns[5]: "away_blocker_3_number"})
stats_df = stats_df.drop(["redundant"], axis = 1)
stats_df

,jam_number,jammer_number,Pivot,Blocker,Blocker,Blocker,jam_number,jammer_number,Pivot,Blocker,Blocker,Blocker
1,1,1706,23,17,314,68,1,480,301,912,950,9
2,2,010,1680,41,4500,4,2,814,21,235,82,62
3,3,1706,23,17,314,68,3,6,301,9,950,912
4,4,1978,23,17,4,41,4,111,21,235,62,912
5,5,010,17,314,213,68,5,111,301,235,912,9
...,...,...,...,...,...,...,...,...,...,...,...,...
77,0,0,0,0,0,0,0,0,0,0,0,0
78,0,0,0,0,0,0,0,0,0,0,0,0
79,0,0,0,0,0,0,0,0,0,0,0,0
80,0,0,0,0,0,0,0,0,0,0,0,0
81,/ = entered in this jam. X = finished service...,0,0,0,0,0,/ = entered in this jam. X = finished service...,0,0,0,0,0

In [ ]:
stats_df = stats_df.dropna(axis=1, how="all")
stats_df = stats_df.drop([0], axis = "index")
stats_df = stats_df.dropna(axis="index", how="all").reset_index()
stats_df = stats_df.rename(columns=stats_df.iloc[0]).drop(stats_df.index[0])
stats_df

In [ ]:
#stats_df[42:81]
period_one_stats_df = stats_df[1:40]
period_one_stats_df

In [ ]:
stats_df[44:82]